<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form id="uploadbanner" enctype="multipart/form-data" method="post" action="/file">
      <input id="fileupload" name="avatar" type="file" />
      <input type="submit" value="submit" id="submit" />
    </form>
  </body>
</html>
